server:
  port: 0
  forward-headers-strategy: framework

spring:
  application:
    name: chat-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/momnect
    username: root
    password: mysql1
#  data:
#    mongodb:
#      uri: mongodb://localhost:27017/momnect_chat

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
      user-service:
        url: http://gateway-service:8000/api/v1/user-service

logging:
  level:
    com.momnect.chatservice: INFO
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    com.momnect.chatservice.command.client: DEBUG
